*{
    margin: 0;
    background-color: rgb(49, 49, 49);
}

.nav{
    background-color: rgba(28, 28, 28, 0.989);
    height: 4rem;
    width: 100%;
    display: flex;
    color:rgb(252, 217, 165) ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.icon,.mid,.right{
    display: flex;
    background-color: rgba(28, 28, 28, 0.989);

}
.mid div{
    background-color: rgba(28, 28, 28, 0.989);
    margin-right: 4rem;
    font-size: 14px;
}

.icon div{
    background-color: rgba(28, 28, 28, 0.989);
    font-size: 30px;
}
.icon div i{
    background-color: rgba(28, 28, 28, 0.989);
    margin-right: 2rem;
    position: relative;
}

.icon .notification{
    height: 15px;
    width: 15px;
    background-color: gray;
    border: .5 solid gray;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    color: rgb(252, 217, 165);
}
.right input{
    margin-left: 4rem;
    background-color:rgb(252, 217, 165) ;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 20rem;
    border: 1px solid ;
    border-radius: 5px;
}

.mid div:hover{
    scale: 1.2;
}
.main-body {
    text-align: center;
    color:rgb(252, 217, 165) ;
}

.products{
    /* background-color: red; */
    margin: auto;
    height: 23rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-card{
    /* background-color: rgb(252, 217, 165); */
    height: 100%;
    width: 14rem;
    border-radius: 20px;
    margin-top: 5rem;
    cursor: pointer;
    box-shadow: 3px 0px 10px 5px rgb(10, 10, 10);
    transition: .5s;
}

.product-card:hover{
    scale: 1.05;
}
.product-img{
    /* background-color: green; */
    height: 56%;
    width: 95%;
    border: 1px solid rgb(252, 217, 165);
    margin: 10px 5px 0px;
    border-radius: 20px;
}

.product-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.product-data{
    /* background-color: yellow; */
    height: 40%;
    /* background-color: rgb(252, 217, 165); */
    width: 85%;
    align-content: center;
    margin: auto;
    text-align: start;
}

.product-data p{
    font-size: 13px;
    line-height: 20px;
}

.product-data button{
    border-radius:0 5px;
    width: 50px;
    margin-top:10px ;
    border-top: 1px solid rgb(252, 217, 165);
    border-right: 1px solid rgb(252, 217, 165);
    color: rgb(252, 217, 165); 
}

.product-data button:hover{
    scale: 1.1;
    background-color:rgb(252, 217, 165) ;
    color:rgb(46, 46, 45) ;
}
.product-data button:hover .eye{
    background-color:rgb(252, 217, 165) ;
    display: inline-block;

}
.product-data button:hover .view{
    display: none;
}

.eye{
    display: none;
}

.main{
    height: 70vh;
    width: 95%;
    padding: 20px;
    display: flex;
}

.sub-main1{
    height: 100%;
    width: 40%;
}
.img-sub-main{
    height: 90%;
    width: 100%;
    display: flex;
}

.img-list{
    height: 100%;
    width: 20%;
}
.img-list div{
    margin: 2px 0;
    height: 70px;
    border: 1px solid rgb(252, 217, 165);
    width: 80%;
    border-radius: 5%;
    transition: .5s;
}

.img-list img{
    border-radius: 5%;
}
.img-list div:hover{
    box-shadow: 0px 0px 3px 3px black;
    scale: 1.1;
}

.main-img{
    width: 80%;
    height: 100%;
    border: 3px solid rgb(252, 217, 165);
    border-radius: 5%;
    transition: .5s;
}

.main-img:hover{
    box-shadow: 0px 0px 10px 10px black;
    scale: 1.01;
}
.main-img img{
    border-radius: 10%;
}

.buttons{
    margin-top: 20px;
    padding-left: 140px;
}
.buttons button{
    padding: 15px 50px;
    background-color: orange;
    border: 0.5px solid black;
    margin-top: 10px;
    color: aliceblue;
    font-weight: 700;
    transition:.5s;
}

.buttons button:hover{
    box-shadow: 0px 0px 10px 5px black;
    scale: 1.05;
}
.sub-main2{
    width: 57%;
    height: 97%;
    color: rgb(252, 217, 165);
    line-height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0 25px;
}

.rating span{
    background-color: rgb(3, 159, 3);
    color: aliceblue;
    padding: 2px 5px;
    text-align: center;
    border-radius:5px;
    line-height: 25px;
}

.rating{
    color: grey;
    font-size: 14px;
}

.flipassured{
    height: 20px;
    width: 75px;
    display: inline-block;
    padding: 0 0 0 20px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-tag{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    display: inline-block;
}

.exchange{
    width: 30rem;
    margin: 20px 0;
}
.exchange div{
    height: 50px;
    display: flex;
    margin:0 15px;
    justify-content: space-between;
}

.exchange div input{
    color: rgb(252, 217, 165);
}

.cart-main{
    display: flex;
    padding-top: 4%;
    width: 100%;
}

.cart-body{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:end ;
    /* background-color: #fff; */
}

.cart-item{
    height: 40vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: rgb(252, 217, 165);
    border: .5px solid rgb(252, 217, 165);
    line-height: 35px;
    margin-top: 5px;
}

.img-cart{
    height:55%;
    width: 20%;
    margin: 40px 10px;
    border: .5px solid rgb(252, 217, 165) ;
}

.cart-prod-details{
    height: 70%;
    width: 50%;
    margin: auto;
    padding: 20px;
}
    
    .btn-remove-cart{
        padding: 5px 10px;
        border: 1px solid rgb(252, 217, 165);
        border-radius: 5px;
        color: rgb(252, 217, 165);
        margin-top: 10px;
        transition: .5s;
    }
    .btn-remove-cart:hover{
        background-color: rgb(252, 217, 165);
        color: rgb(49, 49, 49);
        scale: 1.1;
    }
.cart-delivery{
    height: 30px;
    width: 30%;
    margin: 20px 0px;
}

.cart-price-details{
    width: 30%;
    height: 70vh;
    /* background-color: blue; */
}
.price-details{
    height: 60vh;
    width: 80%;
    margin: auto;
    border: .5px solid rgb(252, 217, 165);
    /* background-color: #fff; */
}

.price-header{
    width: 80%;
    height: 60px;
    background-color: rgb(49, 49, 49);
    text-align: start;
    padding:0 10%;
    /* margin-left: 10px; */
    align-content: center;
    font-size: 18px;
    border-bottom: .5px solid rgb(252, 217, 165);
    color: rgb(252, 217, 165);
}

.price-details-body div{
    color: rgb(252, 217, 165);
    display: flex;
    justify-content: space-between;
    margin: 15px;
    line-height: 50px;
}



.cart-order{
    height: 70px;
    width: 70%;
}
.button-div{
    background-color: rgb(252, 217, 165);
    height: 100%;
    width: 90.1%;
    margin-left: 9.9%;
    align-content: center;
}
.button-div button{
    padding: 10px 30px;
    color: rgb(252, 217, 165);
    font-size: 16px;
    font-weight: 600;
    margin-left: 72%;
}